<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mediaqueries.css')}}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Holliston Stock Research</title>
</head>

<body class="image">
    
        <div class="logout-container">
            <a href="/logout" class="logout-link">Logout</a>
        </div>
        <div class="header-container">
            <div id="title-container">
                <p id="title">Holliston Stock Research</p>
            </div>
         </div>

         <nav id="desktop-nav">
            
                <ul class="nav-links">
                    <li><a href="/overview" >Overview</a></li>
                    <li><a href="/income_statement" >Income Statement</a></li>
                    <li><a href="/cashflow" >Cash Flow</a></li>
                    <li><a href="/balance_sheet" >Balance Sheet</a></li>
                    <li><a href="/charts" >Chart</a></li>
                    <li><a href="/vix_charts" >Vix Chart</a></li>
                </ul>
        </nav>

         <nav id="hamburger-nav">
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            
        
                
            <div class="menu-links">
                <ul>
                    <li><a href="/overview" onclick="toggleMenu()">Overview</a></li>
                    <li><a href="/income_statement" onclick="toggleMenu()">Income Statement</a></li>
                    <li><a href="/cashflow" onclick="toggleMenu()">Cash Flow</a></li>
                    <li><a href="/balance_sheet" onclick="toggleMenu()">Balance Sheet</a></li>
                    <li><a href="/charts" onclick="toggleMenu()">Chart</a></li>
                    <li><a href="/vix_charts" onclick="toggleMenu()">Vix Chart</a></li>
                </ul>
            </div>
        </div>
        </nav>

    
    
    
    
    
    <form action="/process_form" method="POST">
        <div class="search-elements">
            <div><input id="search-box" id="text" id="ticker" name="ticker" placeholder="{{ error_message or 'Enter Ticker Here' }}"></div>
            <div><input id="search-button" type="submit" value="Search"></div>
        </div>
    </form>

    




<!-- company info -->
<div class="text-box">
    <p>{{ company_name }}</p>
    <div>Ticker ({{ ticker_symbol }})</div>
    </h1>
</div>
<section class="container-1">
    <section class="box-1">
        <div>{{ about }}</div>
    </section>


<!-- basic financials -->
   <section class="box-2">
        <div>Stock Price: {{ stock_price }}</div>
        <div>Fifty Two Week High: {{ fifty_two_week_high }}</div>
        <div>Fifty Two Week Low: {{ fifty_two_week_low }}</div>
        <div>Volume: {{ volume }}</div>
        <div>Market Cap: {{ market_cap }}</div>
        <div>Forward PE Ratio: {{ forward_PE }}</div>
    </section>
        
<!-- news -->

<div class="text-box-news">
    <p>News for {{ company_name }}</p>
</div>


<div class="container-1">
    {% if not error_message %}
        
    
            <div class="box-2">
                <a class="news-links" href="//tradingeconomics.com/calendar" target="_blank"  rel="noopener noreferrer">Economic Calendar</a>
                    <br> <br>
                {% for article in current_news %}
                    <a class="news-links" href="{{ article.link }}" target="_blank"  rel="noopener noreferrer">{{ article.title }}</a>
                    <br> <br>
                {% endfor %}
            </div>
        </div>
    {% endif %}

   
</section>


<footer>
    <div class="footer-1">
        &copy; 2024 Holliston Stock Research | Created by David Gutierrez
        
    </div>
    <div class="nav-links-2">
        <a href="https://github.com/DavidG626?tab=repositories" target="_blank">Visit My Portfolio</a>
    </div>
</footer>


    




</body>

</html>
