

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* border: 1px solid red; */
  
}

body {
  color: #315470;
  font-family: 'Noto+Serif+Display', sans-serif;
  padding: 0 20px;
  background-color: whitesmoke;
}

body.image {
  
  background: url(../static/forest.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: cover;
  position: relative;
  
}
/* nav */

/* horizontal menu */
.horizontal-menu {
  position: sticky;
  top: 0;
  border-radius: 15px;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    360deg,
    /* rgba(49, 84, 112, .3),
    rgba(0, 0, 0, 0.1) */
  );
  width: 100%;
}
/* end for horizontal menu */


.horizontal-menu a {
  color: #315470;
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  /* position: relative; */
  align-items: center;
  height: 100%;
}

.horizontal-menu a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #315470;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.horizontal-menu a:hover::after {
  width: 100%;
}





/* end all links */


/* logout */
.logout-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding-left: 25px;
  

}





.logout-link {
  color: #315470;
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  height: 100%;
}

.logout-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #315470;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.logout-link:hover::after {
  width: 100%;
}
/* end for logout */


/* title */
#title-container {
  display: flex;
  justify-content: flex-start;
}
#title {
  height: 100px;
  width: 100%;
  color: #315470;
  background-color: transparent;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  
  
 
  
}

/* end for title */



/* search styling */
.search-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}

#search-box {
  text-align: center;
  width: 300px;
  border: 1px solid #315470; 
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
  transition: border-color 0.3s ease; 
}
#search-box:focus {
  outline: none; 
  border-color: #315470;
}

#search-button {
  margin-left: 10px;
  background-color: whitesmoke; 
  color: #315470; 
  border: 1px solid #315470; 
  border-radius: 10px;
  padding: 10px; 
  font-size: 13px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
#search-button:hover {
  background-color: #315470;
  color: whitesmoke;
}
/* end for search button */


.text-box {
  padding-top: 35px;
  color: #315470;
  font-size: 35px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.text-box-news {
  color: white;
  font-size: 35px;
  width: 100%;
  align-items: center;
  text-align: center;

}
/* about company */
 .container-1 {
    
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    
}

.box-1 {
  font-size: 20px;
  color: #315470;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  border: 1px solid #315470;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  background-color: whitesmoke;
  width: 600px;
  text-align: left;
  
  
}
.box-2 {
  font-size: 20px;
  color: #315470;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #315470;
  padding: 20px;
  margin: 20px;
  width: 600px;
  background-color: whitesmoke;
  text-align: left;
}

.box-2 div {
  
  padding-bottom: 34px;
}


/* end for about company */




.news-links  {
  color: #315470;
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  height: 100%;
}

.news-links::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #315470;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.news-links:hover::after {
  width: 100%;
}
/* end for news */











/* styling for financial statements */
#data-statements {
  display: flex;
  
  text-align: left;
  background-color: aliceblue;
  color: #315470;
  border: 1px red solid;

}

.tr {
  align-items: center;
}
/* end for financial statements */


/* Responsive Adjustments */
@media (max-width: 600px) {
  .container-1 {
    flex-direction: column; /* Stack vertically on smaller screens */
  }
  .box-1, .box-2 {
    width: 100%; /* Adjust width to 100% for smaller screens */
    max-width: none;
  }
  #title {
    font-size: 30px;
    padding-top: 35px;
  }
}




/* footer */

.footer-1 {
  color: white;
  font-size: 20px;
  padding: 35px;
  text-align: center;
  width: 100%;
}


.nav-links-2 {
  
  font-size: 20px;
  padding: 35px;
  text-align: center;
  width: 100%;
}

 

 .nav-links-2 a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  list-style: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 75px;
  position: relative;
}

.nav-links-2 a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links-2 a:hover::after {
  width: 100%;
}


