

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: white;
  font-family: 'Noto+Serif+Display', sans-serif;
  padding: 0 20px;
  background-color: black;
}


/* all links */
.links {
  font-size: 20px;
  display: block;
  margin: 10px 0;
  color: white;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
  text-decoration-color:  #f46106;
  text-decoration-thickness: 3px;
  transition: 0.3s ease;
}
/* end all links */


/* logout */
.logout-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding-left: 25px;

}


  
.logout-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 60px;
  right: 20px;
}


.logout-link:hover {
  text-decoration: underline;
  text-decoration-color:  #f46106;
  text-decoration-thickness: 3px;
  transition: 0.3s ease;
}
/* end for logout */


/* title */
#title-container {
  display: flex;
  justify-content: flex-start;
}
#title {
  height: 100px;
  width: 100%;
  color: #fff;
  background-color: black;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
 
  
}

/* end for title */

/* horizontal menu */
.horizontal-menu {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* end for horizontal menu */


/* search styling */
.search-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}

#search-box {
  text-align: center;
  width: 300px;
  border: 3px solid white; 
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
  transition: border-color 0.3s ease; 
}
#search-box:focus {
  outline: none; 
  border-color: #f46106;
}

#search-button {
  margin-left: 10px;
  background-color: white; 
  color: #315470; 
  border: 3px solid white; 
  border-radius: 10px;
  padding: 10px; 
  font-size: 13px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
#search-button:hover {
  background-color: #f46106;
  color: white;
}
/* end for search button */


.text-box {
  width: 100%;
  align-items: center;
  text-align: center;
}

/* about company */
 .container-1 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    
}

.box-1 {
  color: #315470;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
  border: 2px solid orangered;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  background-color: white;
  width: 600px;
  text-align: left;
  
  
}
.box-2 {
  color: #315470;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid orangered;
  padding: 20px;
  margin: 20px;
  width: 600px;
  background-color: white;
  text-align: left;
}

.box-2 div {
  
  padding-bottom: 34px;
}


/* end for about company */








/* news */
/* .news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
} */



.news-links {
  color: #315470;
  
}
.news-links:hover {
    text-decoration: underline;
    text-decoration-color:  #f46106;
    text-decoration-thickness: 3px;
    transition: 0.3s ease;
}
/* end for news */











/* styling for financial statements */
#data-statements {
  text-align: left;
  background-color: white;
  color: #315470;
}
/* end for financial statements */


/* Responsive Adjustments */
@media (max-width: 600px) {
  .container-1 {
    flex-direction: column; /* Stack vertically on smaller screens */
  }
  .box-1, .box-2 {
    width: 100%; /* Adjust width to 100% for smaller screens */
    max-width: none;
  }
  #title {
    font-size: 30px;
    padding-top: 35px;
  }
}




/* footer */

.footer-1 {
  background-color: black;
  color: white;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
.nav-links-2 {
  flex: 1;
  text-align: center;
  background-color: black;
  
}

 

 .nav-links-2 a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  list-style: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 75px;
  position: relative;
}

.nav-links-2 a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links-2 a:hover::after {
  width: 100%;
}
