<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mediaqueries.css')}}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <title>Holliston Stock Research</title>
    </head>

<body class="image">
    <div class="logout-container">
        <a href="/logout" class="logout-link">Logout</a>
    </div>
    <div class="header-container">
        <div class="title-container">
            <h1 id="title">Holliston Stock Research</h1>
        </div>
     </div>
    
     <nav id="desktop-nav">
        <div>
            <ul class="nav-links">
                <ul><a href="/overview" >Overview</a></ul>
                <ul><a href="/income_statement" >Income Statement</a></ul>
                <ul><a href="/cashflow" >Cash Flow</a></ul>
                <ul><a href="/balance_sheet" >Balance Sheet</a></ul>
                <ul><a href="/charts" >Chart</a></ul>
                <ul><a href="/vix_charts" >Vix Chart</a></ul>
            </ul>
        </div>

                        
     </nav>

     <nav id="hamburger-nav">
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        
    
            
        <div class="menu-links">
            <ul>
                <li><a href="/overview" onclick="toggleMenu()">Overview</a></li>
                <li><a href="/income_statement" onclick="toggleMenu()">Income Statement</a></li>
                <li><a href="/cashflow" onclick="toggleMenu()">Cash Flow</a></li>
                <li><a href="/balance_sheet" onclick="toggleMenu()">Balance Sheet</a></li>
                <li><a href="/charts" onclick="toggleMenu()">Chart</a></li>
                <li><a href="/vix_charts" onclick="toggleMenu()">Vix Chart</a></li>
            </ul>
        </div>
    </div>
    </nav>






<form action="/process_form" method="POST">
    <div class="search-elements">
        <div><input id="search-box" id="text" id="ticker" name="ticker" placeholder="{{ error_message or 'Enter Ticker Here' }}"></div>
        <div><input id="search-button" type="submit" value="Search"></div>
    </div>
</form>


    <table>
        <tr>
            <td>
                <h2 id="heading">Cash Flow: <i>{{ company_name }}</i></h2>
            </td>
        </tr>
        <tr>
            <td id="data-statements">{{ cashflow_data_clean|safe }}</td>
        </tr>
    </table>
</body>
</html>
