<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='mediaqueries.css')}}">
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>

   <title>Register</title>
</head>
<body class="background-img">
    
    <nav id="desktop-nav">
        <div>
            <ul class="nav-links">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>       
    </nav>

            <nav id="hamburger-nav">
                <div class="hamburger-menu">
                    <div class="hamburger-icon" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <div class="menu-links">
                        <ul>
                            <li><a href="#" onclick="toggleMenu()">About</a></li>
                            <li><a href="#" onclick="toggleMenu()">Experience</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        
            
        
    
<div>
    <div class="title">
        <h1>Holliston</h1>
        <p>Stock Research</p>
    </div>
</div>





<section id="register">
    
        <div class="register-text">
            <div class="register-header">
                <h2>Create Account</h2>
            </div>
                
            <form class="reg-form" action="/register" method="POST">
                <label for="reg-username">Username</label>
                
                <input type="text" id="reg-username" name="username" class="input-boxes" required>
                <label for="reg-email">Email</label>
                
                <input type="email" id="reg-email" name="email" class="input-boxes" required>
                <label for="reg-password">Password</label>
                
                <input type="password" id="reg-password" name="password" class="input-boxes" required>
                <input type="submit" value="Register" class="button">
                
                {% if reg_error_message %}
                    <div class="error">{{ reg_error_message }}</div>
                {% endif %}
            </form>
            
        </div>

        <div class="login-text">
            <div class="login-header">
                <h2>Login</h2>
            </div>

            <form class="login-form" action="/login" method="POST">
                <label for="login-username">Username</label>
                
                <input type="text" id="login-username" name="login_username" class="input-boxes" required>
                <label for="login-password">Password</label>
                
                <input type="password" id="login-password" name="login_password" class="input-boxes" required><br>
                <input type="submit" value="Login" class="button">
                
                {% if login_error_message %}
                    <div class="error">{{ login_error_message }}</div>
                {% endif %}
            </form>
        </div>

        
        
        
    
</section>
<footer class="footer-1">
    <div>
        &copy; 2024 Holliston Stock Research | Created by David Gutierrez
    </div>
    
    <div class="nav-links-2">
        <a href="https://davidg626.github.io/resume/" target="_blank">Visit My Portfolio</a>
    </div>
</footer>    



        
    
        
        
       
   

  

    

</body>
</html>
